__pycache__/
*.py[cod]

# SQLite / DB files
db.sqlite3
*.sqlite3
*.db

# Virtual environment
venv/
.venv/

# Flutter/Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock
