.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.auth-form {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

select {
    width: 98%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 12px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
}

select:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 3px rgba(59, 130, 246, 0.5);
}

input {
    font-size: large;
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-blue);
    border: none;
    color: var(--text-dark);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-blue);
    transition: ease-in-out;
    scale: 1.02;
}

.auth-form p {
    text-align: center;
    margin-top: 10px;
}

.auth-form a {
    color: #007bff;
    text-decoration: none;
}

.auth-form a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.success {
    color: green;
    text-align: center;
    margin-bottom: 10px;
}