:root {
  /* Primary Colors */
  --primary-blue: #1E3A8A;
  --accent-blue: #3B82F6;

  /* Light Theme */
  --bg: #f9fafb;
  --text: #111827;
  --card-bg: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --text-primary: #1E3A8A;

  /* Font */
  --font-main: 'Poppins', 'Roboto', sans-serif;
}

/* Dark Theme */
body[data-theme='dark'] {
  --bg: #0f172a;
  --text: #ffffff;
  --card-bg: #1e293b;
  --text-primary: #cccccc;
  --card-shadow: rgba(255, 255, 255, 0.192);
}

/* Apply variables */
body {
  font-family: var(--font-main);
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
